.ticket-wrapper{
    width: 100%;
    background-image: url(../../../assets/img/pattern.png);
    border-radius: 20px;
    padding: 20px 0;
    margin-top: 20px;
    background-size:cover;

    .ticket-info{
        display: flex;
        justify-content: center;

        .ticket-img img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .ticket-title{
            display: flex;
            flex-direction: column;
            padding-left: 50px;

            .title-name{
                font-size: 20px;
                color: #f18720;
                font-weight: bold;
            }

            .title-item{
                display: flex;
                padding: 3px 0;
                align-items: center;

                h4{
                    font-size: 16px;
                    margin-bottom:0px
                }
                span{
                    padding-left: 10px;
                }
            }
        }
    }
}