.movie-admin{
    width: 100%;
    &__content{
      &__title{
      align-items: center;
        display: flex;
        padding: 20px;
        justify-content: space-around;
        .title-text{
          text-align: center;
          width: 50%;
            h3{
              font-weight: 700;
            }
          }
        .input-group{
          width: 300px;
        }
        
      }
      .pagination{
        list-style: none;
        justify-content: center;
        align-items: center;
        .page-num{
          padding:1px 15px;
          text-decoration: none;
          &:hover{
            background-color: #70a6f6;
            color:white;
          }
        }
        .selected{
          background-color: #70a6f6;
        }
      }
    }
  }