.form-content {
  width: 100%;
  height: auto;
  background-image: url(../../../assets/img/pattern.png);
  background-repeat: repeat-x, repeat;
  background-position: left top, center top;
  background-size: cover;
  -webkit-background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-wrapper {
    display: flex;
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-items: center;

    .form-group {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .form-title {
        

        p {
          font-size: 36px;
          color: #e00d7a;
          line-height: 32px;
          text-transform: uppercase;
          text-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
          text-align: left;
          font-weight: bold;
        }
      }

      .form-lists{
        display: flex;
        flex-direction: column;

        .form-list {

          .form-item {
            background-color: rgba(0, 0, 0, 0.7);
            width: 100px;
            height: auto;
            cursor: pointer;
            border: none;
            padding: 20px;
            margin: 10px;
            color: white;
            text-transform: uppercase;
  
            &.form-name {
              border-radius: 0 0px 30px 30px;
              width: 80%;
            }
  
            &.form-theater {
              border-radius: 0 30px 30px 30px;
              width: 180px;
            }
  
            &.form-day {
              border-radius: 30px 0px 30px 30px;
              width: 180px;
            }
            
            &:hover{
              background-color: #e00d7a;
            }
          }
  
          &:nth-child(2) {
            display: flex;
            flex-direction: row;
          }
  
          &:nth-child(2){
            display: flex;
            flex-direction: row;
            justify-content: center;
          }
        }
      }

      .form-button {
        padding: 20px 30px;
        background-color: #e00d7a;
        border: none;
        border-radius: 30px 30px 30px 30px;
        color: white;
        cursor: pointer;
        text-transform: uppercase;
      }
    }

  }
}