.auth{
    background-color: #f18720;
    padding: 30px;

    .signin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            padding: 10px;
            color: white;
        }
        .form-sign{
            max-width: 500px;
            background-color: white;
            padding: 50px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            .form-item{
                display: flex;
                justify-content: center;
                padding: 10px 0;
                label{
                    padding-right: 20px;
                    min-width: 100px; 
                }

            }

            span{
                font-style: italic;
                font-size: 14px;
                padding-left: 10px;
            }

            .form-button{
                margin:  0 auto;
                text-align: center;

                button{
                    padding: 12px 30px;
                    border: none;
                    background-color: #f18720;
                    cursor: pointer;
                    border-radius: 10px;
                    margin: 20px 0;
                    text-align: center;
                }
            }
          
            
        }
    }
}
