
.nav{
    button{
        display: block;
    }
    &__collapse{
        justify-content: end;
        &__avatar{
            border-radius: 100%;
            width: 30px;
            height: 30px;
        }
    }
}
@media (min-width: 992px) {
    .nav{
        button{
            display: none;
        }
        
    }
}