.overview {
    width: 100%;
    background: url(../../../assets/img/film-bg.jpg) no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    padding: 20px 0;

    .overview-content {
        display: flex;

        .overview-img {
            width: 40%;
            border: 15px solid #fae2a2;
        }

        .overview-item {
            width: 60%;
            box-shadow: 10px 10px 10px 0 rgb(0 0 0 / 30%), 0 0 50px 0 rgb(0 0 0 / 40%) inset;
            background-color: #f18720;
            padding: 10px 10px;

            .name {
                padding: 10px 0;
                text-transform: uppercase;
                color: white;
                font-size: 18px;
            }

            .overview-list {
                padding: 5px 0;
                display: flex;

                .list-title {
                    color: white;
                    font-size: 14px;
                    font-weight: normal;
                    width: 25%;
                }

                .list-content {
                    line-height: 14px;
                    background-color: #fff;
                    font-weight: normal;
                    font-size: 14px;
                    color: #000;
                    border-radius: 20px 0 20px 0;
                    -webkit-border-radius: 20px 0 20px 0;
                    padding: 12px 30px;

                }
            }

            .description {
                color: white;
                font-size: 14px;
                line-height: 30px;
            }

            .overview-btn {
                display: flex;
                justify-content: center;
                padding: 10px 0;

                .btn-trailer {
                    font-weight: normal;
                    font-size: 24px;
                    color: #fff;
                    text-transform: uppercase;
                    border-radius: 0px 30px 30px 30px;
                    border: none;
                    -webkit-border-radius: 0px 30px 30px 30px;
                    line-height: 52px;
                    height: 52px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 180px;
                    background: rgba(0, 0, 0, 0.5) center;
                    transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    cursor: pointer;
                    margin: 5px 2px;

                    &:hover{
                        background-color: #000;
                    }
                }

                .btn-datve{
                    background-color: #e00d7a;
                    font-weight: normal;
                    font-size: 24px;
                    text-transform: uppercase;
                    line-height: 30px;
                    color: #fff;
                    border-radius: 30px 0 30px 30px;
                    -webkit-border-radius: 30px 0 30px 30px;
                    line-height: 52px;
                    height: 52px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 180px;
                    transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    cursor: pointer;
                    margin: 5px 2px;
                    box-shadow: 5px 5px 0 rgb(0 0 0 / 10%);
                    border: none;

                    &:hover{
                        background-color: #fecf06;
                        color: #000;
                    }
                }
            }

        }
    }

}