$width-sidebar : 270px;
$topNavbarHeight:56px;
$bs-dark-rgb: rgb(33,37,41);
$bs-bg-opacity: 1;
.sidebar{
    width: $width-sidebar !important;
    background-color: rgba($bs-dark-rgb,$bs-bg-opacity);
    min-height: 100vh;
    &__menu{
        &__item{
            text-decoration: none;
            color: white;
           
            &__inner{
                display: flex;
                padding:30px;
                &:hover{
                    background-color: #1a83ff;
                    color: white;
                }
                .sidebar__icon{
                    margin-right: 10px;
                    svg{
                        padding-bottom: 5px;
                        font-size: 20px;
                    }
                }
                // &.active{
                //     background-color: #1a83ff;
                // }
            }
        }
    }
}
