.play-icon {
  position: absolute;
  z-index: 98;
  font-size: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#f18720;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}