.movie-content {
    width: 100%;

    .nav-item {
        position: relative;
        display: block;
        height: auto;
        white-space: nowrap;
        margin: 0 auto;
        text-align: center;
        padding-top: 10px;

        ul {
            position: relative;
            display: inline-block;
            width: auto;
            overflow: hidden;
            list-style: none;
            cursor: pointer;

            li {
                background: #f18720;
                height: 74px;
                float: left;
                position: relative;
                transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                box-shadow: 10px 0 0 rgb(0 0 0 / 10%);


                &:nth-child(1) {
                    background: #f18720 !important;
                    border-radius: 30px 50px 50px 0;
                    -webkit-border-radius: 30px 50px 50px 0;
                    z-index: 3;
                    padding: 35px 60px;
                    margin-right: -30px;

                }

                &:nth-child(2) {
                    border-radius: 0 50px 50px 0;
                    -webkit-border-radius: 0 50px 50px 0;
                    z-index: 2;
                    padding: 35px 60px;
                    margin-right: -30px;

                }

                &:nth-child(3) {
                    border-radius: 0 30px 0 0;
                    -webkit-border-radius: 0 30px 0 0;
                    z-index: 1;
                    padding: 35px 60px;
                    box-shadow: none;
                }

                &.title-item {
                    background: #fecf06;
                }

                &:active {
                    background: #f18720;
                }
            }
        }
    }
}

.movie-wrap {
    background-color: #f18720;
    width: 100%;
    padding: 20px 0;

    .container {
        width: 85%;
        padding: 15px 0;
        margin: 0 auto;

        .movie-card {
            

            .movie-img img {
                border-radius: 10px;
                width: 100%;
                height: 400px;
            }

            .movie-overlay{
                top: 0;
                left: 0;
                position: absolute;
                transition: opacity 0.3s ease;
                padding: 10px  26px 10px 10px;
                
                .overlay-text{
                    background-color: rgba(0, 0, 0, 0.749);
                    border-radius: 10px ;
                    padding: 10px;
                    color: white;
                    cursor: pointer;
                    opacity: 0;
                }
                
            }
            .movie-overlay:hover .overlay-text{
                    opacity: 1;
                    transition: all 0.5s;
            }
            .overlay-play{
                font-size: 50px;
                color:#f18720;
                margin: 20px auto;
                text-align: center;
                cursor: pointer;
            }

            .movie-tittle {
                text-align: center;
                padding: 20px 0;
                h3{
                width: 90%;
                color: white;
                text-transform: uppercase;
                text-align: center;
                padding: 20px 0;
                font-size: 14px;
                margin: 0 auto;
                cursor: pointer;
                }
                
                .overlay-add{
                    background-color: transparent;
                    border: 1px solid #fecf06;
                    padding: 12px 20px;
                    border-radius: 30px;
                    cursor: pointer;
                }
            }
            
        }
        
    }
}