@media screen and (max-width: 992px) {
  .account__wrapper {
    flex-wrap: wrap;
  }

  .account__fill {
    width: 100%;
  }

  .auth-input {
    font-size: 16px;
    padding: 10px 0 10px 50px;
  }

  .auth-input-login {
    font-size: 16px;
    padding: 8px 0 10px 20px;
  }

  .account__fill {
    background: url("http://localhost:3000/static/media/backgroundaccount.c45f288d255c72cae30e.jpg")
      rgba($color: #000000, $alpha: 0.6);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
  }

  .account__background {
    display: none;
  }
}
