// 

.cinema-wrapper{
    background-image: linear-gradient(to right, #27001f, #4a0042, #27001f);
    color: white;
    padding: 30px 0;

    .cinema-container{
        width: 85%;
        margin: 0 auto;

        .cinema-title{
            text-transform: uppercase;
            font-size: 24px;
            text-align: center;
            padding-bottom: 20px;
        }

        .cinema-content{
            display: flex;
            justify-content:flex-start;
            width: 100%;
            flex-direction: column;
            
            .cinema-logo{
                background-color: #4a0042;
                border-radius:  10px ;
                margin: 0 auto;
            }

            .cinema-address{
                width: 100%;
            }
        }
    }     
}

.theater-content{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;

    .theater-logo{
        background-color: #4a0042;
        width: 100%;
        margin: 0 auto;
        border-radius:  10px ;

        .logo-item{
            width: 100%;
            padding: 10px;
            text-align: center;

            h3{
                color: #e00d7a;
                font-size: 18px;
            }

            p{
                color: white;
                font-size: 13px;
                padding: 10px 0;
                word-wrap: break-word;
            }

            &:hover h3{
                color: #e00d7a ;
            }
            &:hover p{
                color: black ;
            }
        }
        
    }

    .movie-wrapper{
        width: 100%;
        .movie-content{
            width: 100%;
            margin-top: 40px;
            background-color: #f18720;
            border-radius:10px 10px 0 0;
            padding: 15px;
        
    
           .movie-item{
                display: flex;
                padding: 10px 0;
    
                .movie-image{
                    width: 80px;
                    height: 120px;
                    border-radius: 10px;
                }
    
                .movie-showtime{
                    padding: 0 20px;
    
                    .movie-title{
                        color: white;
                        text-transform: uppercase;
                        font-size: 16px;
                        font-weight: bold;
                        
                    }
    
                    .showtime{
                        display: flex;
                        .showtime-item{
                            padding: 10px;
                            
                            button{
                                padding: 10px 20px;
                                border-radius: 10px;
                                border: none;
                                cursor: pointer;
                                font-size: 16px;
                                font-weight: bold;
                            }
                            
                        }
                    }
                }
           } 
        }
    }
}

